<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOgin</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Sign In</h1>
        <p>To add new accounts to database</p>
            <div class="inputbox">
                <input type="text" name="username" id="username"><br>
                <label for="name">Username</label>
            </div>
                
            <div class="inputbox">
                <input type="email" name="email" id="email"><br>
                <label for="email">User mail  </label>
            </div>

            <div class="inputbox">
                <input type="password" name="password" id="password"><br>
                <label for="password">Password</label>
            </div>

            <a href="/"><input type="submit" value="Login"></a>

            <h2>{{eror}}</h2>
            <p>Have an account<a href="/login">Sign up
            </a></p>
            
            </a></p>

        </form>
    </div>
</body>
</html>